body {
  background-color: #fff;
  color: #333;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 85%;
}

#ac_header {
  font-weight: bold;
  background-color: #999;
  color: #333;
  font-weight: bold;
  border: 0.063em solid #666;
  height: 1.250em;
  padding: 0.125em;
}

#ac_page {
  background-color: #fff;
  color: #333;
  border: 0;
  overflow: auto;
}

object {
  background-color: #fff;
  color: #333;
  border: 0;
  width: 100%;
  height: 25.000em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#ac_menu {
  background-color: #999;
  color: #333;
  border: 0.063em solid #666;
  text-align: center;
  padding: 0.125em;
}

#ac_logo {
  float: left;
  margin: 0.125em 0.125em 0.125em 0.250em;
}

#ac_logo img {
  vertical-align: text-top;
  margin-top: -0.063em;
}

#ac_stat {
  float: right;
  font-weight: normal;
  margin: 0.125em 0.250em 0.125em 0.125em;
}

#ac_info {
  background-color: transparent;
  color: #c00;
  font-weight: bold;
}

#ac_footer {
  font-size: 85%;
}

p {
  text-align: justify;
}

label {
  font-weight: bold;
}

input[type=text], input[type=password] {
  background-color: #ccc;
  color: #333;
  border: 0.063em outset #666;
  margin: 0.125em 0 0.125em 0;
  padding: 0.125em;
}

input[type=submit] {
  background-color: #ccc;
  color: #333;
  font-weight: bold;
  border: 0.063em outset #666;
  margin: 0.250em 0 0.500em 0;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #000;
  border: 0.063em inset #666;
  animation: ac_anim ease 1s;
}

input[type=text]:hover, input[type=password]:hover {
  background-color: #fff;
  color: #000;
  border: 0.063em inset #666;
  animation: ac_anim ease 1s;
}

textarea {
  background-color: #ccc;
  color: #333;
  border: 0.063em solid #666;
}

textarea:hover {
  background-color: #fff;
  color: #000;
  border: 0.063em inset #666;
  animation: ac_anim ease 1s;
}

.ac_text {
  border-bottom: 0.063em solid #666;
}

.ac_text:hover {
  background-color: #ccc;
  color: #000;
}

a {
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #000;
}

@keyframes ac_anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
